html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}
